!<DOCTYPE html>
<html lang="us">
<head>
    <meta charset="UTD-8">
    <meta name='veiwport' content="width=device-width">
    <title
    node file upload
    ></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>

    <div class='container'>
        <h1>file upload</h1>

  <form action="upload" method="POST">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input name='myImage' type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <button type="submit" class="btn">submit</button>
      </form>
    </div>
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</body>
</html>    